<script src="https://js.stripe.com/v3/"></script>
:javascript
  var stripe = Stripe('pk_test_3RgQyhpIDJaTDnf9f2THso25');
  var elements = stripe.elements();

=javascript_include_tag "payments.js"

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, layout: :horizontal, html: { id: "payment-form" }, label_col: 'col-sm-3', control_col: 'col-sm-5' do |f|
        %header
          %h1 Register
        %fieldset
          = f.email_field :email, label: "Email Address"
          = f.password_field :password
          = f.text_field :full_name, label: "Full Name"
          = hidden_field_tag :invitation_token, @invitation_token
        %fieldset.credit_card
          .form-group
            %label.control-label.col-sm-3{ for: "card-element" } Payment Information
            .col-sm-5
              #card-errors= @card_error
              #card-element
        %fieldset.actions
          .form-group
            .col-sm-offset-3.col-sm-2
              %button(class="btn btn-default") Sign Up
